/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
}

/* Form Container */
.form-container {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  padding: 40px 35px;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
  text-align: center;
  animation: fadeIn 1s ease;
}

/* Title */
.form-container h2 {
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: rgba(10, 10, 20, 0.6);
  text-shadow: 0 0 12px rgba(255,106,136,0.7);
}

/* Labels */
label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-size: 1rem;
  color: #0f2027;
}

/* Inputs + Select */
input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  outline: solid black;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* Glow Effect on Focus */
input:focus, select:focus {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px #ff6a88, 0 0 20px #ff6a88;
  border: 1px solid #ff6a88;
}

/* Button */
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
  background: linear-gradient(135deg, #0f2027, #ff4b5c);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 15px rgba(255,75,92,0.5);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 25px rgba(255,75,92,0.8);
}

/* Animation */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
